extends layout
include ./mixins/article-thumbnail

block content
  .header.clearfix
    nav
      ul.nav.nav-pills.pull-right
        li.active(role='presentation')
          a(href='/') Home
        li(role='presentation')
          a(href='https://kontent.ai/', target='_blank') Kentico Kontent
        li(role='presentation')
          a(href='https://app.kontent.ai/sign-up', target='_blank') Sign up
    h3.text-muted Kentico Kontent Boilerplate
  .jumbotron
    h1 Let's Get Started
    p.lead
      | This boilerplate includes a set of features and best practices to kick off your website development with Kentico Kontent smoothly. Take a look into the code to see how it works.
    p
      a.btn.btn-lg.btn-success(href='https://github.com/Kentico/kontent-boilerplate-express-apollo#quick-start', target='_blank', role='button') Read the Quick Start
    p
      a.btn.btn-lg.btn-default(href=playgroundLink, role='button') GraphQL playground
  .row.marketing
    h2 Articles from the Dancing Goat Sample Site
  .row.marketing
    each article in articles
      +article-thumbnail(article)