mixin article-thumbnail
  .row
    .col-xs-12
      h4 Test tile
  .row
    .col-sm-4
      img(src="https://assets-us-01.kc-usercontent.com/975bf280-fd91-488c-994c-2f04416e5ee3/e700596b-03b0-4cee-ac5c-9212762c027a/coffee-beverages-explained-1080px.jpg", alt="Test title").img-responsive
    .col-sm-8
      p Some summary
      p
        a.btn.btn-sm.btn-primary(href='#', role='button') Read more
