mixin article-thumbnail(article)
  .row
    .col-xs-12
      h4= article.title.value
  .row
    .col-sm-4
      img(src=article.teaser_image.assets[0].url, alt=article.teaser_image.assets[0].name).img-responsive
    .col-sm-8
      p= article.summary.value
      p
        a.btn.btn-sm.btn-primary(href='#', role='button') Read more
